.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------------------- */

.apod-card h2 {
  font-size: 3rem;
}
.apod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apod-card div {
  display: flex;

}

.apod-card p {
  width: 70%;
  display: block;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.apod-card img {
  width: 90%;
  max-height: 800px;
}

* {
  background-color: #282c34;
  color: white;
}

html {
  scroll-behavior: smooth;
}